@import './base/base';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html,
body,
#root {
  height: 100%;
}

body {
    font-family: $main-font;
    font-weight: $font-normal;
    min-height: 100vh;
}

.content {
    height: 100%;

    &__header {
      align-items: baseline;
        background-image: url(../images/bg-mobile-light.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFFF;
        display: flex;
        font-size: 20px;
        font-weight: $font-bold;
        justify-content: space-between;
        letter-spacing: 10px;
        min-height: 200px;
        padding: 48px 24px;
        text-transform: uppercase;

        &__icon {
          height: 20px;
        }
    }
}