@import "./base/base";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: $main-font;
  font-weight: $font-normal;
  min-height: 100vh;
}

.content {
  height: 100%;

  &.--light {
    background: $background-light;
  }

  &.--dark {
    background: $background-dark;
  }
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffff;
  padding: 48px 24px;

  &.--light {
    background-image: url(../images/bg-mobile-light.jpg);
  }

  &.--dark {
    background-image: url(../images/bg-mobile-dark.jpg);
  }

  &__top {
    align-items: baseline;
    display: flex;
    font-weight: $font-bold;
    justify-content: space-between;
    letter-spacing: 10px;
    text-transform: uppercase;

    &__text {
      font-size: $font-size-medium;
    }
  }

  &__theme-btn {
    background: none;
    border: none;
  }

  &__icon {
    height: 20px;
  }

  &__new-task-form {
    align-items: center;

    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    display: flex;
    margin-top: 40px;

    &.--light {
      background: #ffff;

      & button {
        border: 1px solid $snuff;
      }

      & input {
        &::placeholder {
          color: $manatee;
        }
      }
    }

    &.--dark {
      background: $ebony-clay;

      & button {
        border: 1px solid $bright-gray;
      }

      & input {
        &::placeholder {
          color: $waterloo;
        }
      }
    }

    & button {
      background: none;
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      margin-left: 20px;
      margin-right: 12px;
      width: 24px;
    }

    & input {
      border: none;
      background: none;
      font-family: inherit;
      font-size: $font-size-small;
      padding: 18px 0;
      width: 100%;
    }
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
