@import "./base/base";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: $main-font;
  font-weight: $font-normal;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.--light {
    background: $background-light;
  }

  &.--dark {
    background: $background-dark;
  }
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 100px;

  &.--light {
    background-image: url(../images/bg-mobile-light.jpg);

    @media (min-width: $breakpoint-tablet) {
      background-image: url(../images/bg-desktop-light.jpg);
    }
  }

  &.--dark {
    background-image: url(../images/bg-mobile-dark.jpg);

    @media (min-width: $breakpoint-tablet) {
      background-image: url(../images/bg-desktop-dark.jpg);
    }
  }

  &__top {
    align-items: baseline;
    color: #ffff;
    display: flex;
    font-weight: $font-bold;
    justify-content: space-between;
    letter-spacing: 10px;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-large;
      letter-spacing: 15px;
    }

    &__text {
      font-size: $font-size-medium;
    }
  }

  &__theme-btn {
    background: none;
    border: none;
  }

  &__icon {
    height: 20px;
  }

  &__new-task-form {
    align-items: center;

    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    display: flex;
    margin-bottom: 16px;
    margin-top: 40px;

    &.--light {
      background: #ffff;

      & button {
        border: 1px solid $snuff;
      }

      & input {
        &::placeholder {
          color: $manatee;
        }
      }
    }

    &.--dark {
      background: $ebony-clay;

      & button {
        border: 1px solid $bright-gray;
      }

      & input {
        &::placeholder {
          color: $waterloo;
        }
      }
    }

    & button {
      background: none;
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      margin-left: 20px;
      margin-right: 12px;
      width: 24px;

      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 4px;
      }
    }

    & input {
      border: none;
      background: none;
      font-family: inherit;
      font-size: $font-size-small;
      padding: 18px 0;
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        font-size: 18px;
        padding: 22px 0;
      }
    }
  }
}

.app-content {
  bottom: 160px;
  position: relative;
  margin-inline: 24px;

  @media (min-width: $breakpoint-tablet) {
    margin-inline: auto;
    min-width: 540px;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
