// Typography
$main-font: "Josefin Sans", sans-serif;

$font-normal: 400;
$font-bold: 700;

$font-size-small: 12px;
$font-size-medium: 20px;

// Colors
$background-light: #fafafa;

$manatee: #9495a5;

// Media breakpoints
$breakpoint-desktop: 1440px;
