// Typography
$main-font: "Josefin Sans", sans-serif;

$font-normal: 400;
$font-bold: 700;

$font-size-small: 12px;
$font-size-smaller: 14px;
$font-size-medium: 20px;

// Colors
$background-light: #fafafa;
$background-dark: #171823;

$ebony-clay: #25273d;
$manatee: #9495a5;
$snuff: #e3e4f1;
$mulled-wine: #494c6b;
$waterloo: #767992;
$bright-gray: #393a4b;
$mischka: #d1d2da;
$dodger-blue: #3a7cfd;

// Media breakpoints
$breakpoint-desktop: 1440px;
