@import "../../styles/base/base";

.tasks-wrapper {
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  margin-inline: 24px;

  &.--light {
    background: #fff;
  }

  &.--dark {
    background: $ebony-clay;
  }

  &__bottom-container {
    display: flex;
    color: $manatee;
    font-size: $font-size-small;
    justify-content: space-between;
    padding: 16px 20px 22px 20px;

    &__dlt-completed-btn {
      background: none;
      border: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }
}

.task-container {
  align-items: center;
  border-bottom: 1px solid $snuff;
  display: flex;
  padding: 20px 20px 16px 20px;

  &__complete-btn {
    background: none;
    border: 1px solid $snuff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }

  &__task {
    color: $mulled-wine;
    font-size: $font-size-small;
    margin-left: 12px;
    max-width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__delete-btn {
    background: none;
    border: none;
    margin-left: auto;

    & img {
      height: 12px;
    }
  }
}
