@import "../../styles/base/base";

.tasks-wrapper,
.sort-buttons {
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  margin-bottom: 16px;

  &.--light {
    background: #fff;
  }

  &.--dark {
    background: $ebony-clay;
    box-shadow: none;
  }

  &__bottom-container {
    display: flex;
    color: $manatee;
    font-size: $font-size-small;
    justify-content: space-between;
    padding: 16px 20px 22px 20px;

    &__dlt-completed-btn {
      background: none;
      border: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }
}

.task-container {
  align-items: center;
  border-bottom: 1px solid $snuff;
  display: flex;
  padding: 20px 20px 16px 20px;

  &__complete-btn {
    background: none;
    border: 1px solid $snuff;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;

    &:hover {
      border: 1px solid linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
      // border: 1px solid green;
    }

    & img {
      display: none;
    }
  }

  // BEM naming limitation for complete-btn background - classList.toggle does not allow classname with space symbol
  .--active {
    background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);

    & img {
      display: inline;
    }
  }

  &__task {
    color: $mulled-wine;
    font-size: $font-size-small;
    margin-left: 12px;
    margin-right: auto;
    max-width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.--completed {
      color: $mischka;
      text-decoration: line-through;
    }
  }

  &__delete-btn {
    background: none;
    border: none;
    cursor: pointer;

    & img {
      height: 12px;
    }
  }
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 15px 80px;
  position: absolute;
  margin-top: 60px;
  width: 100%;

  & button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: $manatee;
    font-family: inherit;
    font-size: $font-size-smaller;
    font-weight: $font-bold;
    text-transform: capitalize;

    &:hover {
      color: $mulled-wine;
    }
  }
}
